bin.v2
bin
doc/*.html
doc/version.rst
nppBackup/
build/
_build/
*.kdev4
*.db-wal
*.db-shm
*.db
*.tlog
*.opendb
*.cmake
*.bin
*.recipe
*.obj
*.exe
*.vcxproj
*.rule
/CMakeFiles
/doc/CMakeFiles
*.filters
/.vs/LuaBind/v16
/doc/git_version
*.tcl
*.depend
*.txt
*.stamp
*.idb
*.pdb
*.lib
*.log
*.ilk
*.user
/luabind/build_information.hpp
